$mColor: rgba(25, 118, 210, 1);
$accentColor: rgba(139, 198, 236, 1);
h2 {
  height: 60px;
  overflow-y: auto;
  margin-bottom: 0.5em;
  color: $mColor;
}
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  align-items: flex-start;
  justify-content: flex-start;
  .upload-btn {
    width: 64px;
    height: 56px;

    svg {
      cursor: pointer;
      width: 54px;
      height: 48px;
      padding: 4px;

      background-color: rgba(69, 93, 122);
      border-radius: 10px;

      &:hover {
        path {
          transition: all 100ms ease-in-out !important;
          fill: $mColor !important;
        }
      }
      &:focus {
        path {
          fill: $mColor !important;
        }
      }
    }
  }
  .return-btn {
    height: 56px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    background-color: rgba(69, 93, 122);
    border-radius: 10px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    color: white;

    transition: 0.1s ease-in-out;
    &:hover {
      color: $mColor;
    }

    cursor: pointer;
  }

  .create-folder,
  .search {
    display: flex;
    justify-content: center;

    button {
      height: 56px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(69, 93, 122);
      border-radius: 0px 10px 10px 00px;
      font-size: 2em;
      font-weight: bold;
      cursor: pointer;
      color: white;
    }
  }
}

.object {
  border: 2px solid black;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px !important;
  width: 95%;
  justify-content: space-between;
  justify-items: center;
  padding: 1em;
  transition: 0.1s ease-in-out;
  a {
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    font-size: 1.4em;
    font-weight: bold;
    &:hover {
      color: $mColor;
    }
  }
  &:hover {
    border: 1px solid $mColor;
  }
  .folder {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    cursor: pointer;
    height: 100%;
  }

  button {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: rgba(69, 93, 122);
    color: rgba(250, 250, 250, 1);
    transition: 0.1s ease-in-out;
    &:hover {
      border: 2px solid rgba(249, 89, 89, 1);
    }

    cursor: pointer;

    font-size: 2em;
  }

  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.objects {
  height: 75vh;
  flex: auto;
  margin: 1em 0;
  gap: 1em;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
  flex-direction: column;

  color: rgba(0, 0, 0, 0.7);
}
.container {
  height: 90vh;
  width: 45vw;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
}
.no-objects {
  margin: auto auto;
  font-size: 3em;

  color: $mColor;
}
